/* Body designing */
body{
    background-color: rgb(192, 109, 109);
    color: #fdfbfb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    line-height: 1.5em;
    margin: 0;
    background-image: url('images/myride.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

/* Header design */
#main-header{
    background-color: rgb(31, 31, 204);
    color: white;
}
#main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}



/* Registration page style */
/* .reg {
    background-color: #11369b;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

.heading {
    text-align: center;
    margin: 20px 30px 10px 50px;
    padding: 20px 20px;
}
input {
    width: 10%;
}
input[type=submit]{
    width: 15%;
}
.reg2 {
    width: 50%;
    background-color: #878dabbf;
    margin-left: auto;
    margin-right: auto;
}
/* End Registration page style */

/* Ride page style */
.ride {
    margin: 50px;
    float: right;
    background-color: #11369bd4;
    width: 50%;
    box-shadow: 5px 10px #0000008f;
}
.riden {
    margin-left: 80px;
}
/* End of Ride page style */

/* Profile page style */
.profile {
    margin: 50px;
    /* float: right; */
    background-color: #11369bd4;
    width: 50%;
    box-shadow: 5px 10px #0000008f;
}
#profile {
    margin-left: 50px;
}


/* Navigation design */
#nav{
    /* background-color: rgb(184, 134, 28); */
    color: #fff;
    background-color: rgb(31, 31, 204);
}
#nav ul{
    padding: 0%;
    list-style: none;
}
#nav li{
    display: inline;
}
#nav a{
    font-size: 18px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
}
#nav a:hover{
    color: rgb(34, 12, 4);
}
#nav a:active{
    color: greenyellow;
}

/* Designing the Links (a-tags) */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(31, 127, 238);
}
a:active{
    color: rgb(23, 202, 202);
}
a:visited{
    color: rgb(235, 232, 248);
}

/* showcase view design */
#showcase{
    background-image: url('images/ride');
    background-position: center-right;
    min-height: 200px;
    margin-bottom: 25px;
}

/* Rectangles to contain some data */
.rect-1{
    background-color: #696969;
    color: white;
    /* border: 3px orange solid; */
    padding: 20px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.rect-1 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
}
.rect-2{
    border: 2px dotted coral;
    padding: 20px;
    margin: 20px 0;
}
h5, h4 {
    color: #d0f5f7;
    font-size: 18px;
}
ul {
    list-style: none;
}

/* Main container design */
.my-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Designing the Forms */
.my-form{
    padding: 20px;
}
.my-form .form-box{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"]{
    padding: 8px;
    width: 90%;
}
.my-form input[type="password"]{
    padding: 8px;
    width: 90%;
}

/* Designing Lists */
.topics{
    border: 1px #ccc solid;
    padding: 10px;
}
.topics ul{
    padding: 0;
    list-style: none;
}

/* Designing Buttons */
.button{
    background-color: rgb(12, 96, 223);
    color: wheat;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}
.button:hover{
    background: rgb(31, 127, 238);
    color: whitesmoke;
}

/* Designing blocks of data */
.block{
    float: left;
    width: auto;
    border: 1px solid #ccc;
}

/* Designing the Footer */
#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Designing Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #7a839c}
tr:nth-child(odd){background-color: #333}

th {
    background-color: rgb(12, 96, 223);
    color: white;
}

/* Align div elements */
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.block {
    width: 100px;
    /* display: inline-block; */
}